<md-dialog class="mdDialog mdDialog--small">
  <md-toolbar>
    <div class="md-toolbar-tools mdDialog-headerItems">
      <span>Select Site</span>
      <span flex="fill"></span>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel($event)">
        &times;
      </md-button>
    </div>
  </md-toolbar>
  <div class="mdDialog-body mdDialog-body--scroll">
    <div class="mdDialog-body-segment mdDialog-body-segment--padded">
      <p class="note" ng-if="$ctrl.sites.length > 0">
          Select a context for your submission from the following options. Or, select
          <strong>Create&nbsp;New&nbsp;Site</strong>
          to begin a submission for an entirely new
          site.
      </p>
      <p class="note" ng-if="$ctrl.sites.length === 0">
          Please provide a name for the
          site before beginning your
          submission.
      </p>
      <div class="form-group" ng-if="$ctrl.sites.length > 0">
          <span class="control-label">Select Site</span>
          <select id="siteContextSelection"
                  class="form-control"
                  ng-model="$ctrl.model.siteId">
              <option value="0">
                  &ndash; Create New Site
                  &ndash;
              </option>
              <optgroup label="Existing">
                  <option ng-repeat="item in $ctrl.sites"
                          ng-init="$last && siteListSelectionInit()"
                          value="{{item.siteId}}">
                      {{item.siteName}}
                  </option>
              </optgroup>
          </select>
      </div>
      <div class="form-group" ng-if="$ctrl.isNewSite">
        <label class="control-label">New Site Name</label>
        <input class="form-control" type="text" ng-model="$ctrl.model.userInputText" />
      </div>
    </div>
  </div>
  <div class="Dashboard-actionBar">
    <div class="Dashboard-action">
      <button class="btn" ng-click="$ctrl.confirm($ctrl.model.siteId)" ng-class="{'green': $ctrl.model.siteId || ($ctrl.model.isNewSite && $ctrl.model.userInputText.length)}" ng-disabled="!$ctrl.model.siteId && !($ctrl.model.isNewSite && $ctrl.model.userInputText.length)">
        {{$ctrl.model.isNewSite ? 'Continue' : 'Select'}}
      </button>
    </div>
    <div class="Dashboard-action">
      <button class="btn btn-default" ng-click="$ctrl.cancel('nope')">
        Cancel
      </button>
      <!-- <pre>{{$ctrl.sites | json }}</pre> -->
    </div>
  </div>
</md-dialog>
