.debug {
  background-color: #ccc;
  background-color: #39646b;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  justify-content: flex-end;
  padding-left: 1em;
  padding-right: 1em;
  > * {
    margin-left: 1.25em;
  }
  label:not(:last-child) {
    margin-right: 0.33em;
  }
}
