* {
  box-sizing: border-box;
}
body {
  font-family: "FreightSans Pro", "Helvetica Neue LT Pro", sans-serif;
  margin: 0;
}
.WelcomeShimFill {
  // background-color: red;
}

@brand-primary: #286780;
