<div class="WelcomeScreenBlock WelcomeScreenBlock--first">
  <h2 class="WelcomeHeading2">aaah</h2>
  <ul class="WelcomeScreenActionBlocks">
    <li
      class="WelcomeScreenActionBlock WelcomeScreenActionBlock--small"
      ui-sref=".something"
    >
      <div class="WelcomeScreenActionBlock-splitH">
        <div class="WelcomeScreenActionBlock-titleBlock">
          <div class="WelcomeScreenActionBlock-title">
            <em>Something</em>
          </div>
          <!-- <div class="WelcomeScreenActionBlock-subtitle">
            Permit application forms
          </div> -->
        </div>
        <div class="WelcomeScreenActionBlock-chevron">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 16 16"
            enable-background="new 0 0 16 16"
            xml:space="preserve"
          >
            <polyline
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-miterlimit="10"
              points="6,2 12,8 6,14 "
            />
          </svg>
        </div>
      </div>
    </li>
  </ul>
</div>
