<div class="WelcomeScreenBlock WelcomeScreenBlock--first">
  <div class="split-block-heading">
    <div class="split-block left">
      <div class="split-block-element">
        <h2 class="WelcomeHeading3" ng-if="$ctrl.site.permits.length">{{$ctrl.site.permits.length}} permit applications available <span ng-if="$ctrl.site"> for <em>{{$ctrl.site.siteName}}</em></span></h2>
        <h2 class="WelcomeHeading3" ng-if="!$ctrl.site.permits.length">No permit applications available for <em>{{$ctrl.site.siteName}}</em></h2>
      </div>
    </div>
    <div class="split-block right" ng-if="$ctrl.site.permits.length">
      <div class="split-block-element">
        <input type="text" class="form-control" ng-model="$ctrl.filter" placeholder="Filter by name" style="min-width: 16em" />
        <h2 class="WelcomeHeading3"></h2>
      </div>
    </div>
  </div>
  <ul class="WelcomeScreenActionBlocks">
    <li
      class="WelcomeScreenActionBlock WelcomeScreenActionBlock--xsmall"
      ng-repeat="permit in filteredPermits = ($ctrl.site.permits | filter:$ctrl.filter)"
    >
      <div class="WelcomeScreenActionBlock-splitH">
        <div class="WelcomeScreenActionBlock-titleBlock">
          <div class="WelcomeScreenActionBlock-title" ng-bind="permit"></div>
        </div>
        <div class="WelcomeScreenActionBlock-chevron">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 16 16"
            enable-background="new 0 0 16 16"
            xml:space="preserve"
          >
            <polyline
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-miterlimit="10"
              points="6,2 12,8 6,14 "
            />
          </svg>
        </div>
      </div>
    </li>
  </ul>
</div>
