<div class="WelcomeScreenBlock WelcomeScreenBlock--first">
  <h2 class="WelcomeHeading2">What kind of form are you looking for?</h2>
  <ul class="WelcomeScreenActionBlocks">
    <li
      class="WelcomeScreenActionBlock WelcomeScreenActionBlock--small"
      ng-click="$ctrl.selectSiteAndNavigateTo('.newPermit', $event)"
    >
      <div class="WelcomeScreenActionBlock-splitH">
        <div class="WelcomeScreenActionBlock-titleBlock">
          <div class="WelcomeScreenActionBlock-title">
            <em>I want to apply for a <strong>new permit</strong></em>
          </div>
          <!-- <div class="WelcomeScreenActionBlock-subtitle">
              Permit application forms
            </div> -->
        </div>
        <div class="WelcomeScreenActionBlock-chevron">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 16 16"
            enable-background="new 0 0 16 16"
            xml:space="preserve"
          >
            <polyline
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-miterlimit="10"
              points="6,2 12,8 6,14 "
            />
          </svg>
        </div>
      </div>
    </li>
    <li
      class="WelcomeScreenActionBlock WelcomeScreenActionBlock--small"
      ng-click="$ctrl.selectSiteAndNavigateTo('.permitChangeForms', $event)"
    >
      <div class="WelcomeScreenActionBlock-splitH">
        <div class="WelcomeScreenActionBlock-titleBlock">
          <div class="WelcomeScreenActionBlock-title">
            <em
              >I want to renew or modify an <strong>existing permit</strong></em
            >
          </div>
          <!-- <div class="WelcomeScreenActionBlock-subtitle">
              Permit change forms
            </div> -->
        </div>
        <div class="WelcomeScreenActionBlock-chevron">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 16 16"
            enable-background="new 0 0 16 16"
            xml:space="preserve"
          >
            <polyline
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-miterlimit="10"
              points="6,2 12,8 6,14 "
            />
          </svg>
        </div>
      </div>
    </li>
    <li
      class="WelcomeScreenActionBlock WelcomeScreenActionBlock--small"
      ng-click="$ctrl.select('reporting')"
    >
      <div class="WelcomeScreenActionBlock-splitH">
        <div class="WelcomeScreenActionBlock-titleBlock">
          <div class="WelcomeScreenActionBlock-title">
            <em>I have a <strong>reporting obligation</strong> to fulfill</em>
          </div>
          <!-- <div class="WelcomeScreenActionBlock-subtitle">
              Schedules, and assigned forms
            </div> -->
        </div>
        <div class="WelcomeScreenActionBlock-chevron">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 16 16"
            enable-background="new 0 0 16 16"
            xml:space="preserve"
          >
            <polyline
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-miterlimit="10"
              points="6,2 12,8 6,14 "
            />
          </svg>
        </div>
      </div>
    </li>
    <li
      class="WelcomeScreenActionBlock WelcomeScreenActionBlock--small"
      ng-click="$ctrl.select('serviceRequest')"
    >
      <div class="WelcomeScreenActionBlock-splitH">
        <div class="WelcomeScreenActionBlock-titleBlock">
          <div class="WelcomeScreenActionBlock-title">
            <em>I want to make a <strong>service request</strong></em>
          </div>
          <!-- <div class="WelcomeScreenActionBlock-subtitle">
              Service request forms
            </div> -->
        </div>
        <div class="WelcomeScreenActionBlock-chevron">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 16 16"
            enable-background="new 0 0 16 16"
            xml:space="preserve"
          >
            <polyline
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-miterlimit="10"
              points="6,2 12,8 6,14 "
            />
          </svg>
        </div>
      </div>
    </li>
    <li
      class="WelcomeScreenActionBlock WelcomeScreenActionBlock--small"
      ng-click="$ctrl.select('searchAll')"
    >
      <div class="WelcomeScreenActionBlock-splitH">
        <div class="WelcomeScreenActionBlock-titleBlock">
          <div class="WelcomeScreenActionBlock-title">
            <em>I'm not sure</em>
          </div>
          <div class="WelcomeScreenActionBlock-subtitle">Search all forms</div>
        </div>
        <div class="WelcomeScreenActionBlock-chevron">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 16 16"
            enable-background="new 0 0 16 16"
            xml:space="preserve"
          >
            <polyline
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-miterlimit="10"
              points="6,2 12,8 6,14 "
            />
          </svg>
        </div>
      </div>
    </li>
  </ul>
</div>
