<div class="WelcomeScreenBlock WelcomeScreenBlock--first">
  <wizard-form-list list="$ctrl.site.permitApplicationForms" on-click-item="$ctrl.startForm">
    <heading>
      {{$ctrl.site.permitApplicationForms.length}} {{$ctrl.newFormWizardContext.hasLicenses ? "permit/license" : "permit"}} application forms available <span ng-if="$ctrl.site"> for
        <strong>{{$ctrl.site.siteName}}</strong></span></h2>
    </heading>
    <none-found-msg>
      No {{$ctrl.newFormWizardContext.hasLicenses ? "permit/license" : "permit"}} application forms available for <strong>{{$ctrl.site.siteName}}</strong>
    </none-found-msg>
  </wizard-form-list>
</div>
