<div class="WelcomeScreenBlock WelcomeScreenBlock--first">
  <wizard-action-block-list list="$ctrl.permits" on-click-item="$ctrl.selectPermit" is-loading="$ctrl.isLoading">
    <heading>
      {{$ctrl.permits.length}} {{$ctrl.newFormWizardContext.hasLicenses ? "permits/licenses" : "permits"}}<span ng-if="$ctrl.site"> associated with
        <strong>{{$ctrl.site.siteName}}</strong></span></h2>
    </heading>
    <none-found-msg>
      <div ng-if="$ctrl.site">
          No {{$ctrl.newFormWizardContext.hasLicenses ? "permits/licenses" : "permits"}} associated with <strong>{{$ctrl.site.siteName}}</strong>
      </div>
      <div ng-if="!$ctrl.site">
          There are no {{$ctrl.newFormWizardContext.hasLicenses ? "permits/licenses" : "permits"}} associated with this account.
      </div>
    </none-found-msg>
  </wizard-action-block-list>
</div>

