<div class="WelcomeScreenBlock WelcomeScreenBlock--first">
  <!-- <pre>{{$ctrl.forms | json}}</pre> -->
  <wizard-action-block-list list="$ctrl.forms" on-click-item="$ctrl.startForm" is-loading="$ctrl.isLoading">
    <heading>
      {{$ctrl.forms.length}} change forms available for
        <strong>{{$ctrl.permit.permitType}}</strong></span></h2>
    </heading>
    <none-found-msg>
      No {{$ctrl.newFormWizardContext.hasLicenses ? "permit/license" : "permit"}} change forms available for <strong>{{$ctrl.permit.permitType}}</strong>
    </none-found-msg>
  </wizard-action-block-list>
</div>