<div class="WelcomeScreenActionBlock"
  ng-class="{'WelcomeScreenActionBlock--noMaxHeight': $ctrl.noMaxHeight}"
  role="button"
  tabindex="0"
  ng-click="$ctrl.onClick($event)"
  >
  <div class="WelcomeScreenActionBlock-splitH">
    <div class="WelcomeScreenActionBlock-titleBlock">
      <div class="WelcomeScreenActionBlock-title" ng-transclude="heading">
        <span ng-bind="$ctrl.heading"></span>
      </div>
      <div class="WelcomeScreenActionBlock-subtitle" ng-transclude="subheading">
        <span ng-bind="$ctrl.subheading"></span>
      </div>
    </div>
    <wizard-action-block-chevron></wizard-action-block-chevron>
  </div>
</div>