<div class="WelcomeScreenBlock WelcomeScreenBlock--first" ng-if="$ctrl.isLoading">
  <loading-spinner is-active="true" container-classes="spinner--halfSize"></loading-spinner>
</div>
<div class="WelcomeScreenBlock WelcomeScreenBlock--first" ng-if="!$ctrl.isLoading && $ctrl.list.length">
  <div class="split-block-heading">
    <div class="split-block left">
      <div class="split-block-element">
        <h2 class="WelcomeHeading3" ng-transclude="heading">{{$ctrl.list.length}} items found</h2>
      </div>
    </div>
    <div class="split-block right">
      <div class="split-block-element">
        <input type="text" class="form-control" ng-model="$ctrl.filter" placeholder="Filter by name"
          style="min-width: 16em" />
        <h2 class="WelcomeHeading3"></h2>
      </div>
    </div>
  </div>
  <ul class="WelcomeScreenActionBlocks">
    <!-- yes, on-click has weird expression binding (&) and this strange object as its argument.. it's necessary here though, trust me, just go with it -->
    <wizard-action-block
      on-click="$ctrl.onClickItem({item: item})"
      ng-repeat="item in $ctrl.filteredItems"
      size="xsmall"
      no-max-height="true"
      heading="{{item.name}}"
      subheading="{{item.description}}"></wizard-action-block>
  </ul>
  <div class="well" ng-if="!$ctrl.filteredItems.length">
    No matches for "<em>{{$ctrl.filter}}</em>"
  </div>
</div>
<div class="WelcomeScreenBlock WelcomeScreenBlock--first" ng-if="!$ctrl.list.length && !$ctrl.isLoading">
  <div class="well" ng-transclude="noneFoundMsg">None found</div>
</div>